################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/induction/Game/Assets/modelData/StageSelect/_Users_CG1801_Desktop_git_yoshikiawa_induction_Game_Assets_modelData_StageSelect_STEELPLT.JPG.dds
